################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/azuretestapp/obj
/.vs/azuretestapp/v15
/.vs/config/applicationhost.config
/azuretestapp/azuretestapp.csproj.user
/azuretestapp/bin/*
/xunittestforazure/bin/*
/xunittestforazure/obj/*
