################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/azuretestapp/obj
/.vs/azuretestapp/v15
